@import "assets/variables-colors";

.button-primary {
      background-color: $vz-color-orange;
      border: none;
      padding: 15px;
      color: $vz-color-whitesmoke;
      width: 75%;
      border-radius: 8px;
      margin-top: 25px;
      cursor: pointer;
}